<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /omnikit/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /omnikit/index.html [L]
</IfModule>
